{% include 'navbar.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
    <link rel="stylesheet" href="{% static 'CSS/detail.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <section>
        <h1>Detail</h1>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Title:</label><h3 id="T">{{data1.Title}}</h3>
                <br><br>   
                <label for="">Descriptions:</label><h3 id="D">{{data1.Description}}</h3>
                <br><br><br>
                <a href="{% url 'edit' data1.id %}"><button id="B" type="submit" name="edit3">EDIT</button></a>
                <a href="{% url 'history' %}"><button name="remove" type="submit" id="Br">MARK AS READ</button></a>
            </form>
        </div>   
    </section>    
</body>
</html>