*{
    margin: 0%;
    padding: 0%;
}

body{
    /* border: 2px solid red; */
    height: 99.6vh;
    background-image: url('https://cdn.pixabay.com/photo/2017/10/05/14/43/register-2819608_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    /* border: 2px solid red; */
    width: 50vw;
    height: 88vh; 
    /* text-align: center; */
    background-color: rgba(0, 0, 0, 0.495);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 1px; */
    font-size:x-large;
    padding: 20px;
    border-radius: 20px;
}

span{
    font-size:small;
    /* color: red; */
}

li{
    font-size: small;
    /* color: red; */
}

.radiolist{
    font-size: small;
}

a{
    position:absolute;
    top: 50px;
    left: 1200px;
}

form p input{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    padding: 2px 2px;
    border: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.553);
}

form button{
    width: 20%;
    margin-top: 30px;
    margin-left: 285px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.486);
    border: none;
}

form button:hover{
    background-color: red;
    color: white;
}

#id_usable_password_0{
    height: min-content;
    width: min-content;
}

#id_usable_password_1{
    height: min-content;
    width: min-content;
}

#id_email{
    width: 35%;
}

#id_captcha{
    position: absolute;
    left: 500px;
    top: 530px;
}